.export-helper {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    background-color: #fff;
    color: #000;
    text-align: start;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    z-index: 26;
    top: 40px;
    white-space: nowrap;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    left: 50px;
}

.unstyled-button {
    width: 100%;
    background: none;
    border: none;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    padding: 6px 12px 6px 12px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.unstyled-button:hover {
    background-color: #ededed;
}